matrix-extension/src/main/resources/matrix/extension.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="https://www.alibaba.com/matrix/extension"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://www.alibaba.com/matrix/extension"
            elementFormDefault="qualified">

    <xsd:element name="Extensions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Extension" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Extension">
        <xsd:annotation>
            <xsd:documentation>Extension Definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ExtensionBase" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="ExtensionImpl" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attributeGroup ref="extensionAttrs"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attributeGroup name="extensionAttrs">
        <xsd:attribute name="class" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Extension Class Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="desc" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Extension Description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:element name="ExtensionBase">
        <xsd:annotation>
            <xsd:documentation>Extension Default Implementation(REQUIRED): When no specific implementation is found, the
                default implementation is automatically used
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="object"/>
                <xsd:element ref="bean"/>
                <xsd:element ref="guice"/>
                <xsd:element ref="provider"/>
            </xsd:choice>
            <xsd:attributeGroup ref="extensionBaseAttrs"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attributeGroup name="extensionBaseAttrs">
        <xsd:attribute name="type" type="BaseType" use="required">
            <xsd:annotation>
                <xsd:documentation>ExtensionBase Implementation Type(Like: spring bean、dubbo、groovy)</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:simpleType name="BaseType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="object"/>
            <xsd:enumeration value="bean"/>
            <xsd:enumeration value="guice"/>
            <xsd:enumeration value="provider"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="ExtensionImpl">
        <xsd:annotation>
            <xsd:documentation>Extension Implementation Definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="object"/>
                <xsd:element ref="bean"/>
                <xsd:element ref="guice"/>
                <xsd:element ref="hsf"/>
                <xsd:element ref="dubbo"/>
                <xsd:element ref="http"/>
                <xsd:element ref="groovy"/>
                <xsd:element ref="spel"/>
                <xsd:element ref="provider"/>
            </xsd:choice>
            <xsd:attributeGroup ref="extensionImplAttrs"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attributeGroup name="extensionImplAttrs">
        <xsd:attribute name="namespace" type="xsd:string" use="optional" default="BASE">
            <xsd:annotation>
                <xsd:documentation>Extension Domain Definition: Support multi definition by ',' separator
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="code" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Extension Identity Definition: Support multi definition by ',' separator
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="ImplType" use="required">
            <xsd:annotation>
                <xsd:documentation>ExtensionImpl Implementation Type(Like: spring bean、dubbo、groovy)</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="priority" type="xsd:long" default="0">
            <xsd:annotation>
                <xsd:documentation>Extension Priority Definition: The Smaller The Priority The Higher Priority
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="lazy" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation>Enable Lazy Loading: Runtime Loads The Implementation</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="desc" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Extension Implementation Description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:simpleType name="ImplType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="object"/>
            <xsd:enumeration value="bean"/>
            <xsd:enumeration value="guice"/>

            <xsd:enumeration value="hsf"/>
            <xsd:enumeration value="dubbo"/>
            <xsd:enumeration value="http"/>

            <xsd:enumeration value="groovy"/>
            <xsd:enumeration value="spel"/>
            <xsd:enumeration value="provider"/>

            <xsd:enumeration value="sql(*NOT-SUPPORT*)"/>

            <xsd:enumeration value="ognl(*NOT-SUPPORT*)"/>
            <xsd:enumeration value="mvel(*NOT-SUPPORT*)"/>

            <xsd:enumeration value="lua(*NOT-SUPPORT*)"/>
            <xsd:enumeration value="python(*NOT-SUPPORT*)"/>
            <xsd:enumeration value="javascript(*NOT-SUPPORT*)"/>

            <xsd:enumeration value="rocketmq(*NOT-SUPPORT*)"/>
            <xsd:enumeration value="kafka(*NOT-SUPPORT*)"/>

            <!--            <xsd:enumeration value="calcite(*NOT-SUPPORT*)"/>-->
            <!--            <xsd:enumeration value="cassandra(*NOT-SUPPORT*)"/>-->
            <!--            <xsd:enumeration value="presto(*NOT-SUPPORT*)"/>-->
            <!--            <xsd:enumeration value="clickhouse(*NOT-SUPPORT*)"/>-->
            <!--            <xsd:enumeration value="elasticsearch(*NOT-SUPPORT*)"/>-->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="object">
        <xsd:annotation>
            <xsd:documentation>Custom Object Type Extension Implementation</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>class</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="arg0" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The First Parameter(Currently Only One Parameter Can Be Added)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="bean">
        <xsd:annotation>
            <xsd:documentation>spring bean Type Extension Implementation Definition
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>spring bean name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="class" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>spring bean class</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="guice">
        <xsd:annotation>
            <xsd:documentation>Guice Type Extension Implementation Definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>guice instance class</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="name" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>guice instance @Named(value = 'name')</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="hsf">
        <xsd:annotation>
            <xsd:documentation>HSF Type Extension Implementation Definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="service" type="xsd:string" use="required"/>
            <xsd:attribute name="version" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>HSF Service Version Definition(REQUIRED)</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="group" type="xsd:string" default="HSF"/>
            <xsd:attribute name="timeout" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>clientTimeOut Setting</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="dubbo">
        <xsd:annotation>
            <xsd:documentation>dubbo Type Extension Implementation Definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="version" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="timeout" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>clientTimeOut Setting</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="check" type="xsd:boolean" default="true"/>
            <xsd:attribute name="filter" type="xsd:string"/>
            <xsd:attribute name="application-name" type="xsd:string"/>
            <xsd:attribute name="registry-address" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="http">
        <xsd:annotation>
            <xsd:documentation>For Demo Purposes Only
                <p color="red">Do not use in Product Environment!!!</p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="schema" type="xsd:string"/>
            <xsd:attribute name="host" type="xsd:string"/>
            <xsd:attribute name="port" type="xsd:string" default="80"/>
            <xsd:attribute name="path" type="xsd:string"/>
            <xsd:attribute name="method" type="xsd:string" default="POST"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="groovy">
        <xsd:annotation>
            <xsd:documentation>For Demo Purposes Only
                <p color="red">Do not use in Product Environment!!!</p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="protocol" type="xsd:string" use="required"/>
            <xsd:attribute name="path" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="spel">
        <xsd:annotation>
            <xsd:documentation>For Demo Purposes Only
                <p color="red">Do not use in Product Environment!!!</p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="protocol" type="xsd:string" use="required"/>
            <xsd:attribute name="path" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="provider">
        <xsd:annotation>
            <xsd:documentation>Extension implementation definitions of custom types</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>provider class</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="method" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>provider method class(static)</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="arg0" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>provider method arg0</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>